<%= render "shared/partial" %>
<p id="notice"><%= notice %></p>

<h2>プロフィール</h2>

    <h3>アイコン画像</h3>
    <% if @user.image.attached? %>
    <%= image_tag @user.image %>
    <% else %>
    <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png' %>
    <% end %>
       <h3>ユーザーネーム</h3>
       <h4><%= @user.name %></h4>
       <h3>自己紹介</h3>
       <h4><%= @user.introduction %></h4>
<%= link_to "編集", :edit_user %>
<%= link_to "キャンセル", :back %>