<%= render "shared/partial" %>
<p id="notice"><%= notice %></p>

<h1>ユーザーの登録施設一覧</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Address</th>
      <th>Detail</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
   <% if @rooms.count > 0 %>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.room_name %></td>
        <td><%= room.room_price %></td>
        <td><%= room.room_address %></td>
        <td><%= room.room_detail %></td>
        <td><% if room.image.attached? %>
        <%= image_tag room.image%>
         <% else %>
        <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
        <% end %>
        </td>
        <td> <%= link_to "編集", [:edit, room] %>
         </td>
        </tr>
    <% end %>
    　<% else %>
        <td colspan ="6">現在登録している施設はありません</td>
        <% end %>
 
 
  </tbody>
</table>