<%= render "shared/partial" %>
<h3>詳細画面</h3>
 
 <table>
   <tr>
     <th>施設名</th>
     <td><%= @room.room_name %></td>
   </tr>
   <tr>
     <th>住所</th>
     <td><%= @room.room_address %></td>
   </tr>
   <tr>
     <th>金額</th>
     <td><%= @room.room_price %></td>
   </tr>
   <tr>
     <th>施設紹介</th>
     <td><%= @room.room_detail %></td>
   </tr>
    <tr>
     <th>画像</th>
   <td><% if @room.image.attached? %>
        <%= image_tag @room.image ,size:"50x50"%>
         <% else %>
        <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png'  ,size:"50x50"%>
        <% end %>
 </table>
 
 <h3> 予約登録</h3>
<%= form_with model: @reservation ,url: confirm_reservations_path do |r| %>
      <%= r.hidden_field :room_id, :value => @room.id %>
      <%= r.hidden_field :user_id, :value => current_user&.id %>
      <%= r.hidden_field :room_price, :value => @room.room_price %>
  <div class="field">
    <%= r.label :checkin_day, "チェックイン"%>
    <%= r.date_field :checkin_day %>
  </div>
  <div class="field">
    <%= r.label :checkout_day, "チェックアウト"%>
    <%= r.date_field :checkout_day %>
  </div>
   <div class="field">
    <%= r.label :num_people, "人数"%>
    <%= r.number_field :num_people %>
  </div>
  <li><%= r.submit "予約する" %></li>
 <% end %>
 <div>
   <ul>
     <li><%= link_to "ユーザー情報一覧に戻る", :rooms %></li>
     <%= link_to "戻る",:back %>
   </ul>
 </div>

  